.box {
  height: 40px;
  width: 100px;
  background-color: #4681f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border-radius: 19px;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.box:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.delete {
  height: 40px;
  width: 100px;
  background-color: #dd7973;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border-radius: 19px;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.delete:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.submit {
  height: 40px;
  width: 100px;
  background-color: #5dbea3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border-radius: 19px;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.submit:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.totalcost {
  background-color: #000000;
  border-radius: 15px;
  padding: 10px;
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  width: 230px;
  
}
