.Page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ffffff;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.MainComponent {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}
.h1 {
  font-size: 2rem;
  margin: 0;
}
/*
  const title = {
    color: "white",
    margin: "40px",
    padding: "10px",
    marginLeft: "20px",
    justifyContent: "left",
  };
  
  const buttonContainer = {
    display: "flex",
    justifyContent: "left",
    width: "100%",
    marginLeft: "30px",
  };
  const add = {
    borderRadius: "15px",
    color: "white",
    backgroundColor: "#1B4F72",
    padding: "10px 20px",
    marginRight: "10px",
    border: "none",
    cursor: "pointer",
  };
  
  const Delete = {
    borderRadius: "15px",
    color: "white",
    backgroundColor: "#E74C3C",
    padding: "10px 20px",
    border: "none",
    cursor: "pointer",
    marginRight: "10px",
  };
  
  const ListPanel = {
    display: "flex",
    flexDirection: "row",
    alignItems: "center",
  };
  
  const submit = {
    borderRadius: "15px",
    color: "white",
    backgroundColor: "#288203",
    padding: "10px 20px",
    border: "none",
    cursor: "pointer",
    marginRight: "10px",
  };
  
  const order = {
    backgroundColor: "#145A32",
    borderRadius: "5px",
    justifyContent: "center",
    alignItems: "center",
    padding: "10px",
    color: "white",
  };
  
  const totalcost = {
    backgroundColor: "#1B4F72",
    borderRadius: "5px",
    padding: "10px",
    color: "white",
    marginLeft: "30px",
    marginTop: "20px",
    width: "230px",
  }; */
